/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #cbebff;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Left side */
.navbar-left {
  flex: 1;
}

.navbar-brand {
  margin: 0;
}

.navbar-link {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: 500;
  margin: 0 10px;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #0d3b66;
}

/* Center links */
.navbar-center {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Right side */
.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.user-name {
  margin-right: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.logout-btn {
  background: #0d3b66;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  color: white;
}

.logout-btn:hover {
  background: #e68a00;
}

/* Hamburger menu */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* @hemanth Responsive */
@media (max-width: 768px) {
  .navbar-center {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #cbebff;
    padding: 15px;
    gap: 15px;
  }

  .navbar-center.active {
    display: flex;
  }

  .hamburger {
    display: block;
    color: #0d3b66;
    margin-right: 2px;
  }

}
